*.o
auth_mock
bot_logic
main_mock
/archive/cpp_telegram_module/telegram_bot

.env
*.log
.DS_Store
.vscode/
build/
cmake-build-*/

__pycache__/
*.pyc
.venv/
venv/
telegram_bot/storage/user_data.json
.pytest_cache/
